% Override these values in /etc/lltex/texmf.cnf for system wide configuration or
% $XDG_CONFIG_HOME/lltex/texmf.cnf for user configuration.

% Michal Vlasák, 2020. Public domain.


% these are expected to be tuned in system/user config file or environment, but have default values
XDG_CONFIG_HOME = ~/.config
XDG_CACHE_HOME  = ~/.cache
XDG_DATA_HOME   = ~/.local/share
PREFIX          = /usr
DATA_DIR        = $PREFIX{,/local}/share
TEXMFUSER       = $XDG_DATA_HOME/{lltex,texmf}
TEXMFSYSTEM     = $DATA_DIR/{lltex,texmf}
TEXMFDOTDIR     = . % useful for user overrides

% main tree, distributed by lltex
_TEXMFMAIN = $SELFAUTODIR/share/lltex

% these are used by programs
TEXMFVAR  = $XDG_CACHE_HOME/lltex                % used as cache e.g. by luaotfload

% all used texmf trees are in this variable
TEXMF = {$_TEXMFMAIN,$TEXMFUSER,$TEXMFSYSTEM}

% only "useful" variables, but TDS compliant
TEXFORMATS    = $TEXMFDOTDIR;$TEXMF/web2c
TEXINPUTS     = $TEXMFDOTDIR;$TEXMF/tex//
LUAINPUTS     = $TEXMFDOTDIR;$TEXMF/tex//
MFINPUTS      = $TEXMFDOTDIR;$TEXMF/metafont//
MPINPUTS      = $TEXMFDOTDIR;$TEXMF/metapost//
BIBINPUTS     = $TEXMFDOTDIR;$TEXMF/bibtex/bib//
BSTINPUTS     = $TEXMFDOTDIR;$TEXMF/bibtex/bst//
TEXFONTMAPS   = $TEXMFDOTDIR;$TEXMF/fonts/map//
TFMFONTS      = $TEXMFDOTDIR;$TEXMF/fonts/tfm//
T1FONTS       = $TEXMFDOTDIR;$TEXMF/fonts/type1//
ENCFONTS      = $TEXMFDOTDIR;$TEXMF/fonts/enc//
TTFFONTS      = $TEXMFDOTDIR;$TEXMF/fonts/truetype//
OPENTYPEFONTS = $TEXMFDOTDIR;$TEXMF/fonts/opentype//
